[submodule "vendor/godot-srd-addon"]
	path = vendor/godot-srd-addon
	url = ../godot-srd-addon
[submodule "vendor/dialogue-manager"]
	path = vendor/dialogue-manager
	url = https://github.com/nathanhoad/godot_dialogue_manager
[submodule "vendor/phantom-camera"]
	path = vendor/phantom-camera
	url = https://github.com/ramokz/phantom-camera
[submodule "vendor/beehave"]
	path = vendor/beehave
	url = https://github.com/bitbrain/beehave
[submodule "vendor/terrain3d"]
	path = vendor/terrain3d
	url = https://github.com/TokisanGames/Terrain3D
